body{
margin:0;
font-family:Arial;
background:#0a0a0a;
color:#fff;
display:flex;
}

/* SIDEBAR */
.sidebar{
width:70px;
background:#111;
height:100vh;
position:fixed;
display:flex;
flex-direction:column;
align-items:center;
padding-top:20px;
gap:20px;
}

.sidebar i{
color:#aaa;
cursor:pointer;
transition:0.3s;
}

.sidebar i:hover{
color:#e50914;
transform:scale(1.2);
}

.logo{
color:#e50914;
font-weight:bold;
}

/* MAIN */
.main{
margin-left:80px;
width:100%;
padding:20px;
}

/* HEADER */
.header{
display:flex;
justify-content:space-between;
align-items:center;
}

.brand span{
color:#e50914;
}

#searchInput{
padding:10px;
border-radius:6px;
border:none;
background:#111;
color:#fff;
}

/* HERO */
.hero{
height:350px;
background:url('https://image.tmdb.org/t/p/original/8rpDcsfLJypbO6vREc0547VKqEv.jpg');
background-size:cover;
display:flex;
align-items:center;
padding:40px;
border-radius:12px;
margin-bottom:20px;
}

.hero button{
background:#e50914;
border:none;
padding:12px;
color:white;
cursor:pointer;
}

/* GENRES */
.genres button{
margin:5px;
padding:8px 12px;
background:#222;
color:#fff;
border:none;
cursor:pointer;
}

/* GRID */
.grid{
display:grid;
grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
gap:15px;
}

.card{
cursor:pointer;
transition:0.3s;
}

.card img{
width:100%;
border-radius:8px;
}

.card:hover{
transform:scale(1.08);
}

/* PREVIEW */
.preview{
position:absolute;
background:#141414;
padding:15px;
width:260px;
border-radius:10px;
z-index:9999;
box-shadow:0 10px 30px rgba(0,0,0,0.8);
}
