body{
margin:0;
font-family:'Segoe UI', Arial;
background:#0a0a0a;
color:#fff;
display:flex;
}

/* SIDEBAR */
.sidebar{
width:70px;
background:#0f0f0f;
height:100vh;
position:fixed;
display:flex;
flex-direction:column;
align-items:center;
padding-top:20px;
gap:25px;
border-right:1px solid #222;
}

.sidebar i{
font-size:18px;
color:#aaa;
cursor:pointer;
transition:0.3s;
}

.sidebar i:hover{
color:#e50914;
transform:scale(1.2);
}

.logo{
font-weight:bold;
color:#e50914;
font-size:20px;
}

/* MAIN */
.main{
margin-left:80px;
width:100%;
padding:20px;
}

/* HEADER */
.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.brand{
font-size:24px;
font-weight:600;
}
.brand span{
color:#e50914;
}

#searchInput{
padding:10px;
border-radius:6px;
border:none;
background:#111;
color:#fff;
width:250px;
}

/* HERO */
.hero{
height:320px;
border-radius:12px;
background:#111;
margin:20px 0;
background-size:cover;
background-position:center;
box-shadow:0 0 40px rgba(0,0,0,0.7);
}

/* TITLES */
.section-title{
margin:20px 0 10px;
font-size:18px;
font-weight:500;
}

/* ROW */
.row{
display:flex;
gap:12px;
overflow-x:auto;
padding-bottom:10px;
}

.card{
min-width:160px;
cursor:pointer;
transition:0.3s;
}

.card img{
width:160px;
border-radius:8px;
}

.card:hover{
transform:scale(1.08);
}
